.authMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -.04em;
  border-radius: 50px;
  background-color: #e1dae9;
  color: #00afd7;

  transition: background-color .4s cubic-bezier(.4, 0, .2, 1), box-shadow .4s cubic-bezier(.4, 0, .2, 1), color .4s cubic-bezier(.4, 0, .2, 1);

  margin-bottom: 5px;
  padding: 7px 20px;
}

.active {
  border-radius: 50px;
  background-color: #00afd7;
  color: #f0eafa;
  box-shadow: 0 1px 1px #00000024, 0 1px 3px #0000001f, 0 2px 1px #0003;
}



@media screen and (min-width: 768px) {
  .link:hover {
      background-color: #00afd7;
      box-shadow: 0 1px 1px #00000024, 0 1px 3px #0000001f, 0 2px 1px #0003;
      color: #f0eafa;
  }
}