.container {
  min-width: 320px;
  max-width: 375px;
}

.navigation {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.thumb {
  padding: 10px 0;
}

.transparency {
  backdrop-filter: blur(10px);
}

@media screen and (min-width: 768px) {
  .container {
      max-width: 768px;
      padding: 0;
      margin: 0;
  }

  .thumb {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      padding: 20px 16px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
      max-width: 1024px;
  }
}